<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Caça Palavras</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
table, tr, td {
    border: 1px solid rgb(0, 134, 179);
    border-collapse: collapse;
    font-size: 18px;
}
table.center {
    margin-left:auto;
    margin-right:auto;
}
.jumbotron {
  background-color: rgb(242, 252, 255);
  padding-top: 14px;
}
.title {
  letter-spacing: 7px;
  padding-top: 1px;
  padding-bottom: 8px;
  border-bottom: 1px solid lightgray;
}
body {
  background-image: url("../static/img/blue-background.png");
  background-attachment: scroll;
  background-size: contain;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
</style>
  </head>
  <body>
<section style="margin-top:30px">
    <div class="container">
      <div class="jumbotron">
        <div>
          <h2 class="title">Seja bem-vindo ao Caça Palavras!</h2>
          <p>Para jogar informe as coordenadas do ponto inicial e final da palavra encontrada.<br>
          Caso a resposta esteja correta, ela será adicionada à lista de acertos.</p>
          <div>
            <div>
              <table class="center">
                <tr>
                  <td><font color="gray"> - </font></td>
                  {% for x in range(0, boardlength) %}
                  <td><font color="gray">{{ x }}</font></td>
                  {% endfor %}
                  <td><font color="gray"> - </font></td>
                </tr>
                {% for i in range(0, boardlength) %}
                <tr>
                  <td><font color="gray">{{ i }}</font></td>
                  {% for j in range(0, boardlength) %}
                  <td>{{ boardarray[i][j] }}</td>
                  {% endfor %}
                  <td><font color="gray">{{ i }}</font></td>
                </tr>
                {% endfor %}
                <tr>
                  <td><font color="gray"> - </font></td>
                  {% for x in range(0, boardlength) %}
                  <td><font color="gray">{{ x }}</font></td>
                  {% endfor %}
                  <td><font color="gray"> - </font></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6">
          <h3 class="title">Coordenadas</h3><br>
          <p>X da primeira letra: <input type="number" name="firstx" style="width:39px" value="0" autocomplete="off"></p>
          <p>Y da primeira letra: <input type="number" name="firsty" style="width:39px" value="0" autocomplete="off"></p>
          <p>X da útlima letra: <input type="number" name="lastx" style="width:39px" value="0" autocomplete="off"></p>
          <p>Y da última letra: <input type="number" name="lasty" style="width:39px" value="0" autocomplete="off"></p>
          <input type="hidden" name="boardarray" value="{{ boardarray }}">
          <input type="hidden" name="boardlength" value="{{ boardlength }}">
          <input type="hidden" name="words" value="{{ words }}">
          <input onclick="checkAnswer()" type="submit" value="Enviar">
        </div>

        <div class="col-md-6">
          <h3 class="title">Acertos</h3><br>
          <ul id="answers"></ul>
          <h5 id="tryagain"><font color="crimson">Tente novamente</font></h5>
        </div>
      </div>
    </div>
  </div>

</section>


<!-- jQuery library -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<!--Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script>
function checkAnswer() {
  $.post($SCRIPT_ROOT + '/choice', {
          firstx: $('input[name="firstx"]').val(),
          firsty: $('input[name="firsty"]').val(),
          lastx: $('input[name="lastx"]').val(),
          lasty: $('input[name="lasty"]').val(),
          boardarray: $('input[name="boardarray"]').val(),
          boardlength: $('input[name="boardlength"]').val(),
          words: $('input[name="words"]').val(),
        }, function(data) {
          if (data.result == "Tente novamente") {
            $("#tryagain").hide();
            $("#tryagain").show(900);
          }
          else {
            $("#tryagain").hide();
            if (data.result != $("#answers").children('li').last().text()){
              $("#answers").append("<li>" + data.result + "</li>");
            }
            else {
              $("#answers").children('li').last().hide()
              $("#answers").children('li').last().show(600)
            };
          }
        }, 'json');
};
$("#tryagain").hide();
</script>
  </body>
</html>
