<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Caça Palavras</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
  text-align: center;
}
body {
  background-color: lightskyblue;
}
</style>
  </head>
  <body>
  <section>
    <div class="container">
      <div class="jumbotron">
    <p>Seja bem vindo ao Caça Palavras<br>
      Para jogar informe as coordenadas do ponto inicial e final da palavra encontrada<br>
      Caso a resposta seja a correta, lhe informamos a palavra escolhida</p>
    <table>
    {% for i in range(0, boardlength) %}
    <tr>
      {% for j in range(0, boardlength) %}

      <td>{{ boardarray[i][j] }}</td>

      {% endfor %}
    </tr>
    {% endfor %}
</table>


    <input type="text" name="firstx" value="0">
    <input type="text" name="firsty" value="0">
    <input type="text" name="lastx" value="0">
    <input type="text" name="lasty" value="0">
    <input type="hidden" name="boardarray" value="{{ boardarray }}">
    <input type="hidden" name="boardlength" value="{{ boardlength }}">
    <input type="hidden" name="words" value="{{ words }}">
    <input onclick="checkAnswer()" type="submit">

</div>
</div>
<div class="container">
  <div class="jumbotron">
    <ul id="answers">
    </ul>
  </div>
</div>
</section>


<!-- jQuery library -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<!--Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script>
function checkAnswer() {
  $.get($SCRIPT_ROOT + '/choice', {
          firstx: $('input[name="firstx"]').val(),
          firsty: $('input[name="firsty"]').val(),
          lastx: $('input[name="lastx"]').val(),
          lasty: $('input[name="lasty"]').val(),
          boardarray: $('input[name="boardarray"]').val(),
          boardlength: $('input[name="boardlength"]').val(),
          words: $('input[name="words"]').val(),
        }, function(data) {
          $("#answers").append("<li>" + data.result + "</li>");
        }, 'json');
};
</script>
  </body>
</html>
