<!DOCTYPE html>
<html lang="pt" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Caça Palavras</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
.jumbotron {
  background-color: rgb(242, 252, 255);
  padding-top: 14px;
}
.title {
  letter-spacing: 3px;
  padding-top: 1px;
  padding-bottom: 8px;
  border-bottom: 1px solid lightgray;
}
body {
  background-image: url("../static/img/blue-background.png");
  background-attachment: scroll;
  background-size: contain;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
  </style>
</head>
<body>
  <section style="margin-top:30px">
    <div class="container">
      <div class="jumbotron">
        <h2 class="title" style="letter-spacing:6px;">Caça Palavras</h2>
        <p>Antes de começar, preciamos gerar seu tabuleiro<br>
          Para que isso seja realizado, escolha uma das opções abaixo</p>
          <br>
          <h3><font color="crimson">{{ message }}</font></h3>
        <div class="row">
          <div class="col-md-6">
            <h4 class="title">Fazer upload de arquivo ".txt"</h4>
            <p><font color="gray">Selecione o arquivo no formato .txt a ser enviado</font></p>
            <form action="{{ url_for('board') }}" method="post" enctype="multipart/form-data">
                <input class="w3-btn w3-ripple w3-round-xxlarge" type="file" name="file" style="width:99%"><br><br>
                <input class="w3-btn w3-ripple w3-round-xxlarge" type="submit" value="Enviar">
            </form>
          </div>
          <div class="col-md-6">
            <h4 class="title">Escrever a lista</h4>
            <p><font color="gray">Digite uma palavra por linha</font></p>
            <form action="{{ url_for('lista') }}" method="post" enctype="multipart/form-data">
                <textarea class="w3-round" name="lista" rows="8" cols="30" style="width:99%"></textarea>
                <br><br>
                <input class="w3-btn w3-ripple w3-round-xxlarge" type="submit" value="Enviar">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
